<div class="menu-wrap">
  <input type="checkbox" class="toggler">
  <div class="hamburger"><div></div></div>
  <div class="menu">
    <div>
      <div>
        <ul>
          <li><a href="{{"/" | relative_url }}">Home</a></li>
          <li><a href="{{"/blog" | relative_url }}">Blog</a></li>
          <!-- <li><a href="{{"/projects" | relative_url }}">Projects</a></li> -->
          <li><a href="../cv/Florante_Amonoy_CV.pdf" target="_blank">Resume</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>